@import '../imports/variables';
@import '../imports/mixins';

.Card {
  display: flex;
  align-items: flex-end;
  border: none;
  border-radius: 10px;
  height: 340px;
  width: 340px;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  @media (max-width: 768px) {
    height: 255px;
    width: 335px;
  }
  @media (max-width: 370px) {
    height: 255px;
    width: 100%;
  }
}
