@import '../imports/variables';
@import '../imports/mixins';

/* styles du header */

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 57px;
    a {
      color: black;
      font-size: $medium;
      font-weight: $regular;
    }
  }
  @media (max-width: 768px) {
    img {
      width: 145px;
    }
    nav {
      gap: 22px;
      a {
        text-transform: uppercase;
        font-size: $smallest;
      }
    }
  }
}

.highlight {
  text-decoration: underline;
}
