@import '../imports/variables';
@import '../imports/mixins';

/* styles du header */

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 57px;
    a {
      color: black;
      font-size: $medium;
      font-weight: $regular;
    }
  }
}

.highlight {
  text-decoration: underline;
}
