@import '../imports/variables';
@import '../imports/mixins';

.star-active {
  font-size: $medium;
  color: $main-color;
  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.star-inactive {
  font-size: $medium;
  color: $star-color;
  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.Rating {
  @include row-je-ac;
  gap: 10px;
  @media (max-width: 768px) {
    gap: 5px;
  }
}
