@import '../imports/variables';
@import '../imports/mixins';

.star-active {
  font-size: $medium;
  color: $main-color;
  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.star-inactive {
  font-size: $medium;
  color: #e3e3e3;
  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.Rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  @media (max-width: 768px) {
    gap: 5px;
  }
}
