@import '../imports/variables';
@import '../imports/mixins';

.Tag {
  display: flex;
  gap: 10px;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: 5px;
  }
}

.tag-txt {
  @include row-jc-ac;
  background-color: $main-color;
  min-width: 115px;
  height: 25px;
  color: white;
  font-size: $small;
  font-weight: $bold;
  border: 1px solid $main-color;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 0 10px;
  @media (max-width: 400px) {
    min-width: 84px;
    height: 18px;
    font-size: 10px;
  }
}
