@import '../imports/variables';
@import '../imports/mixins';

/* styles pour la page de fiche logements */
.fiche {
  @include col;
  gap: 40px;
  @media (max-width: 768px) {
    gap: 22px;
  }
}

.info {
  @include row-jsb;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 400px) {
    gap: 10px;
  }
  .info-left {
    @include col;
    gap: 20px;
  }

  .info-right {
    @include col-jsb;
    @media (max-width: 768px) {
      flex-direction: row-reverse;
      align-items: center;
    }
  }
}

.host {
  @include row;
  gap: 10px;
  .host-name {
    @include row-js-ac-w;
    text-align: end;
    max-width: 93px;
    color: $main-color;
    font-size: $normal;
    font-weight: $regular;
    @media (max-width: 400px) {
      font-size: $smallest;
      max-width: 50px;
    }
  }
  .host-img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    @media (max-width: 400px) {
      width: 32px;
      height: 32px;
    }
  }
}

.fiche-collapse {
  @include row-jsb;
  @media (max-width: 1220px) {
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 20px;
  }
  .span-collapse {
    max-width: 582px;
    width: 100%;
    @media (max-width: 1220px) {
      max-width: 1023px;
    }
  }
}
