@import '../imports/variables';
@import '../imports/mixins';

/* styles pour la page d'acceuil */

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.Home-cards {
  width: 1240px;
  height: fit-content;
  border: none;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: space-around;
  box-sizing: border-box;
}

.Home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 223px;
  border: solid 1px black;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../assets/home-banner.png);
  background-position: right center;
}

a {
  text-decoration: none;
}
