@import './imports/variables';
@import './imports/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  max-width: 1240px;
  gap: 50px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 45px 0 0 0;
}

h1 {
  font-size: $biggest;
  font-weight: $bold;
  color: white;
  text-shadow:
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

h2 {
  margin: 0;
  font-size: $big;
  font-weight: $regular;
  color: $main-color;
}

h3 {
  margin: 0;
  font-size: $normal;
  font-weight: $bold;
  color: white;
}
